@media screen {
	body {
		color: #303030;
		background: #fafafa;
		font-size: 21px;
	}
	h2, h3 {
		font-size: 1.1em;
	}
	h1 {
		font-size: 1.2em;
	}
}

@media print {
	body {
		color: black;
		background: white;
	}
	body, h2, h3 {
		font-size: 10pt;
	}
	h1 {
		font-size: 11pt;
	}
}

body {
	margin: 3em auto;
	max-width: 36em;
	width: 90%;
	font-family: Charter, "Bitstream Charter", Georgia, "DejaVu Serif", serif;
}

p, ul {
	text-indent: 0em;
	margin-top: 0.5em;
	margin-bottom: 1em;
	line-height: 1.55;
}

h1, h2, h3, h4 {
	font-weight: 700;
	margin-top: 1.5em;
	font-family: Calibri, Lucida, "DejaVu Sans", sans-serif;
}

tt, code {
	font-family: Consolas, Menlo, Inconsolata, "DejaVu Sans Mono", monospace;
}

td {
	font-size: 0.8em;
}

div.note {
	color: black;
	background: silver;
    	padding: 0.5em;
    	border: none;
}

:link {
	color: blue;
	background: transparent;
}

:visited {
	color: purple;
	background: transparent;
}