html {
	font-size: 100%;
}

body {
	margin: 3em 10%;
	max-width: 36em;
	font-family: Charter, Georgia, DejaVu Serif, serif;
	text-rendering: optimizeLegibility;
}

@media screen {
	body {
		color: #111;
		background: #fdfdfd;
	}
	body, h2, h3 {
		font-size: 1.3125em;
	}
	h1 {
		font-size: 1.3333em;
	}
}

@media print {
	body {
		color: black;
		background: white;
	}
	body, h2, h3 {
		font-size: 10pt;
	}
	h1 {
		font-size: 11pt;
	}
}

h1, h2, h3 {
	font-weight: bold;
}

li {
	margin-bottom: 0.7em;
	line-height: 1.4;}

p, q {
	line-height: 1.55;
}

em {
	font-style: italic;
}

pre, tt, code {
	font-family: "fira mono", "DejaVu Sans Mono", Menlo, monospace;
}

div.note {
	color: black;
	background: lightgrey;
	padding: 0.5em;
	border: none;
}

:link {
	color: blue;
	background: transparent;
}

:visited {
	color: purple;
	background: transparent;
}