@media screen {
	body {
		color: #303030;
		background: #fafafa;
		font-size: 21px;
	}
	h2, h3 {
		font-size: 1.1em;
	}
	h1 {
		font-size: 1.2em;
	}
}

@media print {
	body {
		color: black;
		background: white;
	}
	body, h2, h3 {
		font-size: 10pt;
	}
	h1 {
		font-size: 11pt;
	}
}

body {
	margin: 3em auto;
	max-width: 36em;
	width: 90%;
	font-family: Charter, "Bitstream Charter", Georgia, serif;
	text-rendering: optimizeLegibility;
}

h1, h2, h3 {
	font-weight: 700;
}

li {
	margin-bottom: 0.7em;
	line-height: 1.4;
}

p, q {
	line-height: 1.55;
}

em {
	font-style: italic;
}

pre, tt, code {
	font-family: Consolas, Menlo, "DejaVu Sans Mono",monospace;
}

div.note {
	color: black;
	background: lightgrey;
	padding: 0.5em;
	border: none;
}

:link {
	color: blue;
	background: transparent;
}

:visited {
	color: purple;
	background: transparent;
}