body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	max-width: 36em;
	font-family: "Fira Sans", Verdana, sans-serif;
	text-rendering: optimizeLegibility;
}

@media screen {
	body {
		color: #111111;
		background: #fcfcfc;
	}
	body, h2, h3 {
		font-size: medium;
	}
	h1 {
		font-size: large;
	}
}

@media print {
	body {
		color: black;
		background: white;
	}
	body, h2, h3 {
		font-size: 10pt;
	}
	h1 {
		font-size: 11pt;
	}
}

h1, h2, h3 {
	font-weight: bold;
}

li {
	margin-bottom: 0.7em;
	line-height: 1.4;}

p, q {
	line-height: 1.55;
}

em {
	font-style: italic;
}

tt, code {
	font-family: "fira mono", "DejaVu Sans Mono", Menlo, monospace;
}

div.note {
	color: black;
	background: lightgrey;
	padding: 0.5em;
	border: none;
}

:link {
	color: blue;
	background: transparent;
}

:visited {
	color: purple;
	background: transparent;
}